@use "../../styles/text" as text;
@use "../../styles/constants" as constant;

// Mantine Header
.inner {
    height: 56px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.light {
    background-color: constant.$COLOR_WHITE;
}

.dark {
    background-color: constant.$COLOR_PRIMARY_DARK;
}

.link {
    display: block;
    line-height: 10px;
    padding: 8px 12px;
    border-radius: 15px;
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: 500;

    &::hover {
    background-color: black;
    }
}

.linkLabel {
    margin-right: 5px;
}
