@use '../../styles/text' as text;
@use '../../styles/constants' as constant;
@use '../../styles/theme' as theme;

.residentialPage {
  margin: 0 auto;
  max-width: constant.$LARGE_SCREEN;
  &.light {
    @include theme.SET_BACKGROUND(constant.$COLOR_WHITE, 100%);
    transition: all 0.2s ease-in;
  }

  &.dark {
    @include theme.SET_BACKGROUND(constant.$COLOR_BACKGROUND_DARK, 100%);
    transition: all 0.2s ease-in;
  }
}

.appShell {
  &.light {
    @include theme.SET_BACKGROUND(constant.$COLOR_WHITE, 100%);
    transition: all 0.2s ease-in;
  }

  &.dark {
    @include theme.SET_BACKGROUND(constant.$COLOR_BACKGROUND_DARK, 100%);
    transition: all 0.2s ease-in;
  }
}

.container {
  @include theme.SET_BACKGROUND(constant.$COLOR_SECONDARY_DARK, 20%);

  &.light {
    @include theme.SET_COLOR(constant.$COLOR_ACCENT, 50%);
    transition: all 0.2s ease-in;
  }
  &.dark {
    color: constant.$COLOR_GREY_DARK;
    transition: all 0.2s ease-in;
  }
}

.richText {
  max-width: 700px;
}

.portableText {
  &.light {
    @include theme.SET_BACKGROUND(constant.$COLOR_WHITE, 100%);
    transition: all 0.2s ease-in;
  }

  &.dark {
    @include theme.SET_BACKGROUND(constant.$COLOR_BACKGROUND_DARK, 100%);
    transition: all 0.2s ease-in;
  }
}

.type {
  @include theme.SET_BACKGROUND(constant.$COLOR_SECONDARY_DARK, 20%);
  max-width: 200px;
  font-weight: 600;
  height: 20px;

  &.light {
    @include theme.SET_COLOR(constant.$COLOR_ACCENT, 50%);
    transition: all 0.2s ease-in;
  }
  &.dark {
    color: constant.$COLOR_GREY_DARK;
    transition: all 0.2s ease-in;
  }
}

.vehicleText {
  &.light {
    color: constant.$COLOR_BLACK;
    transition: all 0.1s ease-in;
  }

  &.dark {
      color: constant.$COLOR_GREY_DARK;
      transition: all 0.1s ease-in;
  }
}

.history {
  &.light {
    @include theme.SET_BACKGROUND(constant.$COLOR_WHITE, 100%);
    transition: all 0.2s ease-in;
  }

  &.dark {
    @include theme.SET_BACKGROUND(constant.$COLOR_BACKGROUND_DARK, 100%);
    transition: all 0.2s ease-in;
    border: none;
  }
}
