@use "../../styles/constants" as constant;

.sm {
    display: flex;
    justify-content: center;
    svg {
        transform: scale(0.3);
    }
}

.md {
    display: flex;
    justify-content: center;
    svg {
        transform: scale(0.5);
    }
}

.xs {
    display: flex;
    justify-content: center;
    svg {
        transform: scale(0.7);
    }
}

.lg {
    display: flex;
    justify-content: center;
    svg {
        transform: scale(0.9);
    }
}

.xl {
    display: flex;
    justify-content: center;
    svg {
        transform: scale(1);
    }
}

.light {
    fill: constant.$COLOR_PRIMARY;
}

.dark {
    fill: constant.$COLOR_WHITE_DARK;
}
