@use '../../styles/constants' as constant;
@use '../../styles/theme' as theme;

.wrapper {
  display: flex;
  align-items: center;
  color: constant.$COLOR_WHITE;
}

.text {
  &.light {
    @include theme.SET_COLOR(constant.$COLOR_BLACK, 100%);
  }
  &.dark {
    @include theme.SET_COLOR(constant.$COLOR_WHITE, 80%);
  }
}
