@use "../../styles/text" as text;
@use "../../styles/constants" as constant;

// Auth
.container {
    display: flex;
    flex-direction: column;
}

.formContainer {
    width: 371px;
}

.authForm {
    margin: 10vh 0;
    width: 371px;
    height: 539px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.forgotPass {
    align-self: flex-end;
    color: constant.$COLOR_PRIMARY;
    font-family: constant.$FONT_SANS2;
    font-style: normal;
    font-weight: 400;
    font-size: constant.$CAPTION_2_FONT_SIZE;
    line-height: constant.$CAPTION_2_LINE_HEIGHT;
    letter-spacing: 0.03em;
}

.text{
    font-family: constant.$FONT_SANS2;
    font-style: normal;
    font-weight: 400;
    font-size: constant.$CAPTION_2_FONT_SIZE;
    line-height: constant.$CAPTION_2_LINE_HEIGHT;
    letter-spacing: 0.03em;
    color: constant.$COLOR_SECONDARY_DARK;
}

.google{
    background-color: constant.$COLOR_ACCENT;
    color: constant.$COLOR_SECONDARY;
}
