/* COLORS */
$COLOR_PRIMARY:#2F90B0;
$COLOR_PRIMARY_DARK:#08376B;
$COLOR_SECONDARY:#35C0ED;
$COLOR_SECONDARY_DARK:#848484;
$COLOR_GREY:#F5F5F5;
$COLOR_GREY_DARK:#B1B1B1;
$COLOR_WHITE_DARK:#F5F5F5;
$COLOR_WHITE:#FFFFFF;
$COLOR_BLACK:#000000;
$COLOR_ACCENT:#08376B;
