/* COLORS */
$COLOR_PRIMARY:#2F90B0;
$COLOR_PRIMARY_DARK:#08376B;
$COLOR_SECONDARY:#35C0ED;
$COLOR_SECONDARY_DARK:#848484;
$COLOR_GREY:#F5F5F5;
$COLOR_GREY_DARK:#B1B1B1;
$COLOR_WHITE_DARK:#F5F5F5;
$COLOR_WHITE:#FFFFFF;
$COLOR_BLACK:#000000;
$COLOR_ACCENT:#08376B;

/* TEXTS */
$FONT_FAMILY: 'Montserrat';
$FONT_FAMILY2: 'Tenor Sans';
$FONT_FAMILY3: 'Open Sans';
$FONT_FAMILY4: 'Inter';
$FONT_STYLE: 'normal';

$BANNER_HEADER_FONT_SIZE: $FONT_FAMILY;
$BANNER_HEADER_FONT_WEIGHT: 700; 
$BANNER_HEADER_FONT_SIZE: 50px; 
$BANNER_HEADER_LINE_HEIGHT: 61px; 
$BANNER_HEADER_LETTER_SPACING: 0.03em; 

$BANNER_HEADINGS_1_FONT_FAMILY: $FONT_FAMILY;
$BANNER_HEADINGS_1_FONT_WEIGHT: 300;
$BANNER_HEADINGS_1_FONT_SIZE: 20px; 
$BANNER_HEADINGS_1_LINE_HEIGHT: 25px; 
$BANNER_HEADINGS_1_LETTER_SPACING: 0.05em; 

$BANNER_HEADINGS_2_FONT_FAMILY: $BANNER_HEADINGS_1_FONT_FAMILY;
$BANNER_HEADINGS_2_FONT_WEIGHT: $BANNER_HEADINGS_1_FONT_WEIGHT;
$BANNER_HEADINGS_2_FONT_SIZE: 18px; 
$BANNER_HEADINGS_2_LINE_HEIGHT: $BANNER_HEADINGS_1_LINE_HEIGHT; 
$BANNER_HEADINGS_2_LETTER_SPACING: $BANNER_HEADINGS_1_LETTER_SPACING; 

$BANNER_HEADINGS_3_FONT_FAMILY: $BANNER_HEADINGS_1_FONT_FAMILY;
$BANNER_HEADINGS_3_FONT_WEIGHT: $BANNER_HEADINGS_1_FONT_WEIGHT;
$BANNER_HEADINGS_3_FONT_SIZE: 16px; 
$BANNER_HEADINGS_3_LINE_HEIGHT: $BANNER_HEADINGS_1_LINE_HEIGHT; 
$BANNER_HEADINGS_3_LETTER_SPACING: $BANNER_HEADINGS_1_LETTER_SPACING; 

$BUTTON_TEXT_FONT_FAMILY: $FONT_FAMILY; 
$BUTTON_TEXT_FONT_WEIGHT: 600; 
$BUTTON_TEXT_FONT_SIZE: 16px; 
$BUTTON_TEXT_LINE_HEIGHT: 20px; 
$BUTTON_TEXT_LETTER_SPACING: 0.03em; 

$BUTTON_TEXT_SMALL_FONT_FAMILY: $BUTTON_TEXT_FONT_FAMILY; 
$BUTTON_TEXT_SMALL_FONT_WEIGHT: $BUTTON_TEXT_FONT_WEIGHT; 
$BUTTON_TEXT_SMALL_FONT_SIZE: 14px; 
$BUTTON_TEXT_SMALL_LINE_HEIGHT: 17px; 
$BUTTON_TEXT_SMALL_LETTER_SPACING: $BUTTON_TEXT_LETTER_SPACING; 

$BODY_SANS_1_FONT_FAMILY: $FONT_FAMILY2; 
$BODY_SANS_1_FONT_WEIGHT: 400; 
$BODY_SANS_1_FONT_SIZE: 25px; 
$BODY_SANS_1_LINE_HEIGHT: 29px; 
$BODY_SANS_1_LETTER_SPACING: 0.03em; 

$BODY_SANS_2_FONT_FAMILY: $BODY_SANS_1_FONT_FAMILY; 
$BODY_SANS_2_FONT_WEIGHT: $BODY_SANS_1_FONT_WEIGHT; 
$BODY_SANS_2_FONT_SIZE: 20px; 
$BODY_SANS_2_LINE_HEIGHT: 23px; 
$BODY_SANS_2_LETTER_SPACING: $BODY_SANS_1_LETTER_SPACING; 

$BODY_SANS_3_FONT_FAMILY: $BODY_SANS_1_FONT_FAMILY; 
$BODY_SANS_3_FONT_WEIGHT: $BODY_SANS_1_FONT_WEIGHT; 
$BODY_SANS_3_FONT_SIZE: 16px; 
$BODY_SANS_3_LINE_HEIGHT: 19px; 
$BODY_SANS_3_LETTER_SPACING: $BODY_SANS_1_LETTER_SPACING; 

$CAPTION_1_FONT_FAMILY: $FONT_FAMILY3; 
$CAPTION_1_FONT_WEIGHT: 400; 
$CAPTION_1_FONT_SIZE: 18px; 
$CAPTION_1_LINE_HEIGHT: 25px; 
$CAPTION_1_LETTER_SPACING: 0.03em; 

$CAPTION_2_FONT_FAMILY: $CAPTION_1_FONT_FAMILY; 
$CAPTION_2_FONT_WEIGHT: $CAPTION_1_FONT_WEIGHT; 
$CAPTION_2_FONT_SIZE: 14px; 
$CAPTION_2_LINE_HEIGHT: 19px; 
$CAPTION_2_LETTER_SPACING: $CAPTION_1_LETTER_SPACING; 

$CAPTION_3_FONT_FAMILY: $CAPTION_1_FONT_FAMILY; 
$CAPTION_3_FONT_WEIGHT: $CAPTION_1_FONT_WEIGHT; 
$CAPTION_3_FONT_SIZE: 11px; 
$CAPTION_3_LINE_HEIGHT: 15px; 
$CAPTION_3_LETTER_SPACING: $CAPTION_1_LETTER_SPACING; 

$EXTRA_1_FONT_FAMILY: $FONT_FAMILY4; 
$EXTRA_1_FONT_WEIGHT: 400; 
$EXTRA_1_FONT_SIZE: 18px; 
$EXTRA_1_LINE_HEIGHT: 22px; 
$EXTRA_1_LETTER_SPACING: 0.03em; 

$EXTRA_2_FONT_FAMILY: $EXTRA_1_FONT_FAMILY; 
$EXTRA_2_FONT_WEIGHT: $EXTRA_1_FONT_WEIGHT; 
$EXTRA_2_FONT_SIZE: 14px; 
$EXTRA_2_LINE_HEIGHT: 17px; 
$EXTRA_2_LETTER_SPACING: $EXTRA_1_LETTER_SPACING; 

$EXTRA_3_FONT_FAMILY: $EXTRA_1_FONT_FAMILY; 
$EXTRA_3_FONT_WEIGHT: $EXTRA_1_FONT_WEIGHT; 
$EXTRA_3_FONT_SIZE: 12px; 
$EXTRA_3_LINE_HEIGHT: 15px; 
$EXTRA_3_LETTER_SPACING: $EXTRA_1_LETTER_SPACING; 

$HEADER_1_FONT_FAMILY: $FONT_FAMILY2; 
$HEADER_1_FONT_WEIGHT: 400; 
$HEADER_1_FONT_SIZE: 20px; 
$HEADER_1_LINE_HEIGHT: 120%; 

$HEADER_2_FONT_FAMILY: $HEADER_1_FONT_FAMILY; 
$HEADER_2_FONT_WEIGHT: $HEADER_1_FONT_WEIGHT; 
$HEADER_2_FONT_SIZE: 18px; 
$HEADER_2_LINE_HEIGHT: $HEADER_1_LINE_HEIGHT;

$HEADER_3_FONT_FAMILY: $HEADER_1_FONT_FAMILY; 
$HEADER_3_FONT_WEIGHT: $HEADER_1_FONT_WEIGHT; 
$HEADER_3_FONT_SIZE: 16px; 
$HEADER_3_LINE_HEIGHT: $HEADER_1_LINE_HEIGHT; 

$HEADER_4_FONT_FAMILY: $FONT_FAMILY2; 
$HEADER_4_FONT_WEIGHT: 400; 
$HEADER_4_FONT_SIZE: 14px; 
$HEADER_4_LINE_HEIGHT: 120%; 

$HEADER_5_FONT_FAMILY: $HEADER_1_FONT_FAMILY; 
$HEADER_5_FONT_WEIGHT: $HEADER_1_FONT_WEIGHT; 
$HEADER_5_FONT_SIZE: 12px; 
$HEADER_5_LINE_HEIGHT: $HEADER_1_LINE_HEIGHT;

$HEADER_TINY_FONT_FAMILY: $HEADER_1_FONT_FAMILY; 
$HEADER_TINY_FONT_WEIGHT: $HEADER_1_FONT_WEIGHT; 
$HEADER_TINY_FONT_SIZE: 10px; 
$HEADER_TINY_LINE_HEIGHT: $HEADER_1_LINE_HEIGHT; 
