@use '../../styles/theme' as theme;
@use '../../styles/constants' as constant;
@use '../../styles/text' as text;

.page1 {
  height: 100%;
  padding-inline: 30px;
  flex-direction: column;
  position: relative;
  z-index: 0;
  h1 {
    @include text.BANNER_HIGHLIGHT;
    text-align: center;
    color: constant.$COLOR_ACCENT;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    @media only screen and (max-width: constant.$REGULAR_SCREEN) {
      @include text.BANNER_HEADER;
    }
    @media only screen and (max-width: constant.$TABLET_SCREEN) {
      @include text.BANNER_HEADER_2;
    }
  }
  h2 {
    @include text.BANNER_HEADER_2;
    text-align: center;
    color: constant.$COLOR_PRIMARY;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    @media only screen and (max-width: constant.$REGULAR_SCREEN) {
      @include text.BANNER_HEADER_3;
    }
    @media only screen and (max-width: constant.$TABLET_SCREEN) {
      @include text.BANNER_HEADINGS_1;
    }
  }
  &.dark {
    h1 {
      color: constant.$COLOR_GREY_DARK;
    }
  }
}

.backdrop {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.button {
  @include text.BUTTON_TEXT;
  font-family: constant.$FONT_MAIN;
  background: linear-gradient(180deg, #2f90b0 15%, #35c0ed 85%);
  &:hover {
    background: linear-gradient(180deg, #339ec1 15%, #43c4ef 85%);
  }
}

.light {
  @include theme.SET_BACKGROUND(constant.$COLOR_WHITE, 100%);
  transition: all 0.2s ease-in;
}

.dark {
  @include theme.SET_BACKGROUND(constant.$COLOR_BACKGROUND_DARK, 100%);
  transition: all 0.2s ease-in;
}
