@use '../../styles/text' as text;
@use '../../styles/constants' as constant;
@use '../../styles/theme' as theme;

.bottom {
  position: absolute;
  padding-block: 12px 20px;
  padding-inline: 20px;
  left: 0;
  right: 0;
  bottom: 0;
}

.header {
  padding-bottom: 12px;
  margin-bottom: 18px;
  border-bottom: 1px solid rgba(constant.$COLOR_GREY_DARK, 40%);
}

.footer {
  padding-top: 12px;
  margin-top: 18px;
  border-top: 1px solid rgba(constant.$COLOR_GREY_DARK, 40%);
}

.light {
  @include theme.SET_BACKGROUND(constant.$COLOR_WHITE, 100%);
  transition: all 0.2s ease-in;
}

.dark {
  @include theme.SET_BACKGROUND(constant.$COLOR_PRIMARY_DARK, 100%);
  border: 1px solid constant.$COLOR_BACKGROUND_DARK;
  transition: all 0.2s ease-in;
}
