@use "../../styles/text" as text;
@use "../../styles/constants" as constant;

.forgotPassTitle {
    font-family: constant.$FONT_MAIN;
    font-style: normal;
    font-weight: 600;
    font-size: constant.$BANNER_HEADINGS_2_FONT_SIZE;
    line-height: constant.$BANNER_HEADINGS_LINE_HEIGHT;
    letter-spacing: 0.03em;
}

.forgotPass {
    color: constant.$COLOR_PRIMARY;
    font-family: constant.$FONT_SANS2;
    font-style: normal;
    font-weight: 400;
    font-size: constant.$CAPTION_2_FONT_SIZE;
    line-height: constant.$CAPTION_2_LINE_HEIGHT;
    letter-spacing: 0.03em;
}

.text{
    font-family: constant.$FONT_SANS2;
    font-style: normal;
    font-weight: 400;
    font-size: constant.$CAPTION_2_FONT_SIZE;
    line-height: constant.$CAPTION_2_LINE_HEIGHT;
    letter-spacing: 0.03em;
    color: constant.$COLOR_SECONDARY_DARK;
}

.google{
    background-color: constant.$COLOR_ACCENT;
    color: constant.$COLOR_SECONDARY;
}

.resetButtonGroup {
    @media only screen and (max-width: 465px) {
        justify-content: center;
    }
}