@use "../../styles/text" as text;
@use "../../styles/constants" as constant;
@use "../../styles/theme" as theme;

.forgotPassTitle {
    font-family: constant.$FONT_MAIN;
    font-style: normal;
    font-weight: 600;
    font-size: constant.$BANNER_HEADINGS_2_FONT_SIZE;
    line-height: constant.$BANNER_HEADINGS_LINE_HEIGHT;
    letter-spacing: 0.03em;

    &.light {
        color: constant.$COLOR_BLACK;
        transition: all 0.1s ease-in;
    }
    
    &.dark {
        color: constant.$COLOR_GREY_DARK;
        transition: all 0.1s ease-in;
    }
}

.forgotPass {
    color: constant.$COLOR_SECONDARY;
    font-family: constant.$FONT_SANS2;
    font-style: normal;
    font-weight: 400;
    font-size: constant.$CAPTION_2_FONT_SIZE;
    line-height: constant.$CAPTION_2_LINE_HEIGHT;
    letter-spacing: 0.03em;
}

.divider {
    color: constant.$COLOR_GREY_DARK;
}

.text{
    font-family: constant.$FONT_SANS2;
    font-style: normal;
    font-weight: 400;
    font-size: constant.$CAPTION_2_FONT_SIZE;
    line-height: constant.$CAPTION_2_LINE_HEIGHT;
    letter-spacing: 0.03em;
    color: constant.$COLOR_SECONDARY_DARK;
}

.resetButtonGroup {
    @media only screen and (max-width: 499px) {
        justify-content: center;
    }
}

.google {
    &.light {
        @include theme.SET_BACKGROUND(constant.$COLOR_ACCENT, 100%);
        color: constant.$COLOR_SECONDARY;
        transition: all 0.1s ease-in;
    }

    &.dark {
        @include theme.SET_BACKGROUND(constant.$COLOR_WHITE_DARK, 5%);
        border: none;
        color: constant.$COLOR_WHITE_DARK;
        transition: all 0.1s ease-in;

        &:hover{
            @include theme.SET_BACKGROUND(constant.$COLOR_PRIMARY, 20%);
            color: constant.$COLOR_SECONDARY;
        }
    }
}
