@use "../../styles/text" as text;
@use "../../styles/constants" as constant;

// Mantine Header
.inner {
    height: 56px;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.light {
    background-color: constant.$COLOR_WHITE;
    transition: all 0.2s ease-in;
}

.dark {
    background-color: constant.$COLOR_PRIMARY_DARK;
    transition: all 0.2s ease-in;
}

@media only screen and (min-width: 600px) {
    .autohide {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .links {
        display: none;
    }
}
