@use '../../styles/constants' as constant;

.searchContainer {
  min-width: 225px;
  &.light {
    input {
      background: constant.$COLOR_WHITE;
      font-weight: 500;
      color: constant.$COLOR_PRIMARY;
      transition: all 0.1s ease-in;
      border: none;
    }
  }
  &.dark {
    input {
      background: constant.$COLOR_PRIMARY_DARK;
      color: constant.$COLOR_GREY;
      font-weight: 500;
      transition: all 0.1s ease-in;
      border: none;
    }
  }
}
