@use '../../styles/text' as text;
@use '../../styles/constants' as constant;
@use '../../styles/theme' as theme;

.main_footer {
  display: flex;
  position: relative;
  height: 500px;
  width: 100%;
  padding: 200px 50px 50px 50px;
  background-color: transparent;
  border: none;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  font-family: constant.$FONT_SANS1;
  font-style: normal;
  font-weight: 400;
  font-size: constant.$HEADER_3_FONT_SIZE;
  line-height: constant.$BODY_SANS_3_LINE_HEIGHT;
  letter-spacing: 0.03em;
  overflow: hidden;

  @media only screen and (max-width: 600px) {
    padding-top: 150px;
    padding-bottom: 100px;
    flex-direction: column;
  }

  @media only screen and (max-width: 450px) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.circle {
  @include theme.SET_BACKGROUND(constant.$COLOR_GREY, 100%);
  position: absolute;
  width: 110%;
  height: 400px;
  left: -5%;
  top: 10px;
  z-index: -1;
  transition: all 0.2s ease-in;
  box-shadow: 0px -4px 4px rgba(184, 184, 184, 0.25);

  &.dark {
    @include theme.SET_BACKGROUND(constant.$COLOR_PRIMARY_DARK, 100%);
    transition: all 0.2s ease-in;
  }
}

.light {
  color: constant.$COLOR_ACCENT;
}

.dark {
  color: constant.$COLOR_WHITE_DARK;
}
