@use "../../styles/constants" as constant;
@use "../../styles/theme" as theme;

.container {
  border-radius: 10px;
}

.category {
  font-family: constant.$FONT_MAIN;
  font-style: normal;
  font-weight: 700;
  font-size: constant.$EXTRA_1_FONT_SIZE;
  line-height: constant.$EXTRA_1_LINE_HEIGHT;
  letter-spacing: 0.03em;
  &.light {
    color: constant.$COLOR_PRIMARY;
    transition: all 0.2s ease-in;
  }

  &.dark {
    color: constant.$COLOR_SECONDARY_DARK;
    transition: all 0.2s ease-in;
  }
}

.amount {
  font-family: constant.$FONT_MAIN;
  font-style: normal;
  font-weight: 700;
  font-size: constant.$BANNER_HEADER_3_FONT_SIZE;
  line-height: constant.$BANNER_HEADER_3_LINE_HEIGHT;
  letter-spacing: 0.03em;
  &.light {
    color: constant.$COLOR_BLACK;
    transition: all 0.2s ease-in;
  }

  &.dark {
    color: constant.$COLOR_WHITE_DARK;
    transition: all 0.2s ease-in;
  }
}

.description {
  font-family: constant.$FONT_MAIN;
  font-style: normal;
  font-weight: 700;
  font-size: constant.$EXTRA_3_FONT_SIZE;
  line-height: constant.$EXTRA_3_LINE_HEIGHT;
  letter-spacing: 0.03em;
  color: constant.$COLOR_SECONDARY_DARK;
  &.light {
    color: constant.$COLOR_SECONDARY_DARK;
    transition: all 0.2s ease-in;
  }

  &.dark {
    color: constant.$COLOR_WHITE_DARK;
    transition: all 0.2s ease-in;
  }
}

.light {
  @include theme.SET_BACKGROUND(constant.$COLOR_WHITE, 100%);
  transition: all 0.2s ease-in;
}

.dark {
  @include theme.SET_BACKGROUND(constant.$COLOR_PRIMARY_DARK, 100%);
  transition: all 0.2s ease-in;
}
