@use '../../styles/constants' as constant;
@use '../../styles/theme' as theme;

.light {
  input {
    @include theme.SET_BACKGROUND(constant.$COLOR_WHITE, 100%);
    transition: all 0.2s ease-in;
  }
}

.dark {
  * {
    border: none;
    border-radius: 5px;
    transition: all 0.2s ease-in;
  }

  div {
    @include theme.SET_BACKGROUND(constant.$COLOR_BACKGROUND_DARK, 65%);
  }

  button {
    &:hover {
      @include theme.SET_BACKGROUND(constant.$COLOR_BACKGROUND_DARK, 80%);
    }
  }

  label {
    @include theme.SET_COLOR(constant.$COLOR_WHITE_DARK, 80%);
  }

  input {
    @include theme.SET_BACKGROUND(constant.$COLOR_BACKGROUND_DARK, 65%);
    color: constant.$COLOR_GREY;

    &:focus {
      color: constant.$COLOR_WHITE;
    }
  }
}
