@use "../../styles/text" as text;
@use "../../styles/constants" as constant;
@use "../../styles/theme" as theme;

// Icon Button
.link,
.active {
  padding: 5px 25px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  font-size: 10px;

  h1 {
    @include text.BUTTON_TEXT_SMALL;
    font-family: constant.$FONT_SANS3;
    font-style: normal;
    font-weight: 600;
  }
}

.light {
  transition: all 0.2s ease-in;
  h1 {
    color: constant.$COLOR_PRIMARY;
  }

  &.link {
    filter: grayscale(100%);

    &:hover {
      @include theme.SET_BACKGROUND(constant.$COLOR_SECONDARY_DARK, 10%);
    }
  }

  &.active {
    @include theme.SET_BACKGROUND(constant.$COLOR_SECONDARY, 20%);

    &:hover {
      @include theme.SET_BACKGROUND(constant.$COLOR_SECONDARY, 20%);
    }
  }
}

.dark {
  transition: all 0.2s ease-in;
  h1 {
    color: constant.$COLOR_WHITE_DARK;
  }
  &.link {
    color: constant.$COLOR_SECONDARY_DARK;

    &:hover {
      @include theme.SET_BACKGROUND(constant.$COLOR_SECONDARY_DARK, 10%);
    }
  }

  &.active {
    @include theme.SET_BACKGROUND(constant.$COLOR_WHITE_DARK, 20%);

    &:hover {
      @include theme.SET_BACKGROUND(constant.$COLOR_WHITE_DARK, 20%);
    }
  }

  &.back {
    &:hover {
      @include theme.SET_BACKGROUND(constant.$COLOR_BACKGROUND_DARK, 20%);
    }
  }
}

.back {
  opacity: 0.75;
  h1 {
    @include text.BUTTON_TEXT_SMALL;
    font-weight: 500;
    color: constant.$COLOR_PRIMARY;
  }
  &:hover {
    color: constant.$COLOR_PRIMARY;
    opacity: 1;
  }
}
