@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Tenor+Sans&display=swap');

/* COLORS */
$COLOR_PRIMARY: #2f90b0;
$COLOR_PRIMARY_DARK: #151d1f;
$COLOR_BACKGROUND_DARK: #121212;
$COLOR_SECONDARY: #35c0ed;
$COLOR_SECONDARY_DARK: #b6b6b6;
$COLOR_GREY: #f5f5f5;
$COLOR_GREY_DARK: #b1b1b1;
$COLOR_WHITE_DARK: #f5f5f5;
$COLOR_WHITE: #ffffff;
$COLOR_BLACK: #000000;
$COLOR_ACCENT: #08376b;

/* FONT FAMILY */
$FONT_MAIN: 'Montserrat';
$FONT_SANS1: 'Tenor Sans';
$FONT_SANS2: 'Open Sans';
$FONT_SANS3: 'Inter';

/* FONT SIZES */
$BANNER_HEADER_FONT_SIZE: 50px;
$BANNER_HEADER_2_FONT_SIZE: 48px;
$BANNER_HEADER_3_FONT_SIZE: 36px;
$BANNER_HEADINGS_1_FONT_SIZE: 20px;
$BANNER_HEADINGS_2_FONT_SIZE: 18px;
$BANNER_HEADINGS_3_FONT_SIZE: 16px;
$BUTTON_TEXT_FONT_SIZE: 16px;
$BUTTON_TEXT_SMALL_FONT_SIZE: 14px;
$BUTTON_TEXT_TINY_FONT_SIZE: 12px;
$BODY_SANS_1_FONT_SIZE: 25px;
$BODY_SANS_2_FONT_SIZE: 20px;
$BODY_SANS_3_FONT_SIZE: 16px;
$CAPTION_1_FONT_SIZE: 18px;
$CAPTION_2_FONT_SIZE: 14px;
$CAPTION_3_FONT_SIZE: 11px;
$EXTRA_1_FONT_SIZE: 18px;
$EXTRA_2_FONT_SIZE: 14px;
$EXTRA_3_FONT_SIZE: 12px;
$HEADER_1_FONT_SIZE: 20px;
$HEADER_2_FONT_SIZE: 18px;
$HEADER_3_FONT_SIZE: 16px;
$HEADER_4_FONT_SIZE: 14px;
$HEADER_5_FONT_SIZE: 12px;
$HEADER_TINY_FONT_SIZE: 10px;

/* Line Height */
$BANNER_HEADER_LINE_HEIGHT: 61px;
$BANNER_HEADER_2_LINE_HEIGHT: 51px;
$BANNER_HEADER_3_LINE_HEIGHT: 44px;
$BANNER_HEADINGS_LINE_HEIGHT: 25px;
$BUTTON_TEXT_LINE_HEIGHT: 20px;
$BUTTON_TEXT_SMALL_LINE_HEIGHT: 17px;
$BUTTON_TEXT_TINY_LINE_HEIGHT: 15px;
$BODY_SANS_1_LINE_HEIGHT: 29px;
$BODY_SANS_2_LINE_HEIGHT: 23px;
$BODY_SANS_3_LINE_HEIGHT: 19px;
$CAPTION_1_LINE_HEIGHT: 25px;
$CAPTION_2_LINE_HEIGHT: 19px;
$CAPTION_3_LINE_HEIGHT: 15px;
$EXTRA_1_LINE_HEIGHT: 22px;
$EXTRA_2_LINE_HEIGHT: 17px;
$EXTRA_3_LINE_HEIGHT: 15px;
$HEADER_LINE_HEIGHT: 120%;

/* Breakpoints */
$PHONE_BREAK: 600px;
$TABLET_SCREEN: 768px;
$REGULAR_SCREEN: 992px;
$LARGE_SCREEN: 1200px;
