@use './constants' as constant;

html,
body {
  padding: 0;
  margin: 0;
  font-family: constant.$FONT_MAIN, constant.$FONT_SANS1, constant.$FONT_SANS2, constant.$FONT_SANS3, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
