@use "../../styles/constants" as constant;

.category {
  font-family: constant.$FONT_MAIN;
  font-style: normal;
  font-weight: 700;
  font-size: constant.$EXTRA_1_FONT_SIZE;
  line-height: constant.$EXTRA_1_LINE_HEIGHT;
  letter-spacing: 0.03em;
  color: constant.$COLOR_PRIMARY;
}

.amount {
  font-family: constant.$FONT_MAIN;
  font-style: normal;
  font-weight: 700;
  font-size: constant.$BANNER_HEADER_3_FONT_SIZE;
  line-height: constant.$BANNER_HEADER_3_LINE_HEIGHT;
  letter-spacing: 0.03em;
  color: constant.$COLOR_BLACK;
}
